table{
    margin: 30px 0px 0px 580px;
}
td{
    font-family: sans-serif;
    padding: 80px;
}
button{
    font-size:15px;
padding:10px 20px;;
background-color:#FF365D;
color:#ffffffe3;
border-radius:5px;
text-decoration:none;
}
a{
    text-decoration: none;
    color:#ffffffe3;
}